<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fba89">  <td>17/11/13 23:28:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VariosTest2.openDriver()[pri:0, instance:edu.cibertec.webdriver.miscelania.VariosTest2@210366b4]">&gt;&gt;openDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>17/11/13 23:28:34</td>   <td>1805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VariosTest2.ultimaMpdificacionPage()[pri:0, instance:edu.cibertec.webdriver.miscelania.VariosTest2@210366b4]">ultimaMpdificacionPage</td> 
  <td>main@603650290</td>   <td></td> </tr>
</table>
